<!DOCTYPE html>
<html lang="en">
  <head>
   
    <title><%= title %> - Bar B Studios</title>
     <link href="stylesheets/style.css" rel="stylesheet">
	 <link href="stylesheets/waffles.css" rel="stylesheet">
  </head>
  
  <body>
	<header>
		<div class="waffles">
			<div class="w-12">
				Bar B Studios
			</div>
			
		</div>
	 </header>
	 <div class="waffles">
		<div class="w-12 w-alpha w-omega">
			<div class="w-2 w-alpha sidebar">
				<div class="w-12 w-v_4 w-v-4">
					<a href="http://bible.barbstudios.com">
						<div class="w-12 widget">
								<span>Bible</span>
						</div>
					</a>
				</div>
				<div class="w-12 w-v_4">
					<a href="http://farmtracker.net">
						<div class="w-12 widget"">
							<span>Farm</span>
						</div>
					</a>
				</div>				
			</div>
			<div class="w-10">
				<%- body %>
			</div>
			
		</div>
		
	 </div>
  </body>
</html>


